*{
    background-color: #1b1b1b;
    color: white;
}
body{
    font-family: Arial, sans-serif;
    display: flexbox;
}
.topname{
    margin-left: 25px;
    color: white;
    display: inline;
}
.icon{
    display: inline;
    float: right;
    margin-right: 10px;
}
.a{
    color: rgb(255, 177, 32);
    font-weight: bold;
    font-size: large;
}
.navbar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.navbar ul{
    list-style: none;
    display: flex;
    padding: 8px 16px;
    border-radius: 15px;
    border: rgba(255, 255, 255, 0.123) solid;
    border-width: 1px;
    font-size: 70%;
}
.navbar ul li {
    margin: 0 15px;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 6px 14px;
    border-radius: 10px;
    transition: 0.3s;
}

.navbar ul li a.active,
.navbar ul li a:hover {
    background-color: #e7e40c;
    color: rgb(0, 0, 0);
    
}

.intro{
    color: black;
    background-color: #e7e40c;
    display: inline-block;
    padding: 10px;
    border-radius: 9px;
    font-size: 2vw;
    margin-top: 80px;
    margin-left: 5vw;
    font-weight: bolder;
}
.iam{
    font-weight: bold;
    font-size: 3vw;
    margin-left: 7vw;
    margin-bottom: 0px;
}
.b{
    color: rgb(255, 177, 32);
}
.text{
    margin-left: 40px;
    font-family: monospace;
    font-size: 1.4vw;
    margin-top: 29px;
}
.about{
    margin-bottom: 0pxA;
}
.about2{
    margin-left: 0px;
    margin-top: 3px;
}
.profile{
    display: flex;
    align-items: center;
}

.sponge{

    margin-left: 20px;
    width: 20vw;
    float: right;
    margin-left: 30;
}
.skills{
    font-weight: bolder;
    font-size: 34px;
    text-align: center;
    margin-top: 80px;
    margin-bottom:45px;
}
.part{
    text-align: center;
    padding: 50px;
    border-radius: 10px;
}
.lang{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.skill{
    background-color: #393E46;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    margin-right: 15px;
}
.skill:hover{
    background-color: #7382a8;
}
.proj{
    font-weight: bolder;
    font-size: 34px;
    margin-left: 60px;
    margin-top: 80px;
}
.projects{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
    margin-bottom: 60px;
    margin-top: 60px;
    font-size: 16px;
}
.cont{
    font-weight: bolder;
    font-size: 34px;
    margin-left: 60px;
    margin-top: 80px;
    margin-bottom: 27px;
    display: block;
}
.abouttalking{
    margin-left: 40px;
    font-family: monospace;
    font-size: 18px;
    margin-top: 29px;   
}

@media screen and (max-width: 607px) {
    .profile{
        display: flex;
        flex-direction: column-reverse;
    }
    .iam{
        margin-left: 50px;
    }
}
