*{
    background-color: #1b1b1b;
    color: white;
}
body{
    font-family: Arial, sans-serif;
}
.topname{
    margin-left: 4.3958vw;
    display: inline;
    font-weight: bold;
    font-size: 1.2vw;
    
}
.names{
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: rgba(255, 255, 255, 0.932);
}
.icon{
    display: inline;
    float: right;
    margin-right: 2.6vw;
    margin-top: 24px;
    font-size: 1.2vw;

}
.a{
    color: rgb(255, 177, 32);
    font-weight: bold;
    font-size: 2vw;
}
.navbar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    
}

.home{
    background-color: rgba(255, 177, 32, 0.932);
    
}
#home2:hover{
    background-color: rgba(255, 177, 32, 0.932);
}
.works{
    background-color: rgba(255, 177, 32, 0.932);
}
#works2{
    background-color: rgba(255, 177, 32, 0.932);
}
.contact{
    background-color: rgba(255, 177, 32, 0.932);
}
#contact2{
    background-color: rgba(255, 177, 32, 0.932);
}
.navbar ul{
    list-style: none;
    display: flex;
    padding: 8px 16px;
    border-radius: 15px;
    border: rgba(255, 255, 255, 0.123) solid;
    border-width: 1px;
    font-size: 70%;
    font-weight: lighter;
}
.navbar ul li {
    margin: 0 15px;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 6px 14px;
    border-radius: 10px;
    transition: 0.3s;
}

.navbar ul li a:hover {
    background-color: #ffffff1a;
    color: rgb(255, 255, 255);
    
}

.intro{
    color: black;
    background-color: #e7e40c;
    display: inline-block;
    padding: 8px;
    border-radius: 2px;
    font-size: 2vw;
    margin-top: 80px;
    margin-left: 5vw;
    font-weight: bolder;
}
.iam{
    font-weight: bold;
    font-size: 3vw;
    margin-left: 7vw;
    margin-bottom: 0px;
}
.b{
    color: rgb(255, 177, 32);
}
.text{
    margin-left: 40px;
    font-family: monospace;
    font-size: 1.4vw;
    margin-top: 29px;
}
.about{
    margin-bottom: 0px;
}
.about2{
    margin-left: 0px;
    margin-top: 3px;
}
.profile{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.sponge{

    margin-left: 20px;
    width: 18vw;
    float: right;
    margin-right: 40px;
    border-radius: 10px;
}
.skills{
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
    margin-top: 80px;
    margin-bottom:45px;
}
.co{
    color: rgb(255, 177, 32);
}
.part{
    text-align: center;
    border-radius: 10px;
}
.lang{
    padding: 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vh;
}
.skill{
    background-color: #2a2d33;
    padding: 0.6vw 0.4vw;
    font-size: 1.4vw;
    border-radius: .1rem;
    font-weight: bold;
    color: white;
    margin-right: 1vw;
}
.skill:hover{
    background-color: rgb(255, 177, 32);
}

.proj{
    font-weight: bolder;
    font-size: 3vw;
    text-align: center;
    margin-top: 80px;
    margin-bottom:45px;
}
.po{
    color: rgb(255, 177, 32);
}
.projects{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10vw;
    margin-bottom: 60px;
    margin-top: 60px;
    font-size: 1.3vw;
    color: rgba(255, 255, 255, 0.76);
}

.cont{
    font-weight: bolder;
    font-size: 3vw;
    margin-top: 80px;
    margin-bottom:25px;
    display: block;
    margin-left: 7vw;
    color: rgb(255, 177, 32);
}
.abouttalking{
    margin-left: vw;
    font-family: monospace;
    font-size: 1.4vw;
    margin-top: 29px;   
    width: 50%;
    margin-right: 15px;
}

input, textarea{
    border: solid;
    padding: 1vw;
}
input{
    width: 23vw;    
    font-size: 1.4vw;
}
textarea{
    width: 23vw;
    font-size: 1.4vw;
}
.formgroup{
    margin: 3px;
    
}
.submit{
    display: block;
    margin: auto;
    background-color: rgb(255, 177, 32);
    border: none;
    height: 2.3vw;
    width: 10vwpx;
    border-radius: 4px;
    font-size: 1.2vw;
}
.submit:hover{
    cursor: pointer;
}

.all{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon2{
    margin-left: 2.6vw;
    margin-bottom: 4vh;
    margin-top: 4vh;
    font-size: 1.2vw;
}

@media screen and (max-width: 607px) {
    .profile{
        display: flex;
        flex-direction: column-reverse;
    }
    .iam{
        margin-left: 50px;
    }
}
